.bg-grid-pattern {
    background-image: 
        linear-gradient(to right, rgba(0,0,0,0.1) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(0,0,0,0.1) 1px, transparent 1px);
    background-size: 50px 50px;
}
.soulfly-logo {
    width: 16rem;
    height: auto;
}